.branding {
  width: 100%;
  min-height: 900px;
  background: url('../../../assets/images/branding.jpg') no-repeat;
  background-size: cover;
}

.logo {
  margin-top: 30px;
  display: block;
}

.main-content {
  margin-top: 140px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  h1 {
    color: #fff;
    font-weight: 300;
    font-size: 42px;
  }

  small {
    font-size: 14px;
    color: #8bd0a8;
  }
}


.learn-more {
  text-align: center;
  margin-top: 190px;
}

.btn-ghost {
  border: 2px solid #fff;
  color: #fff;
  padding: 20px 0;
  min-width: 290px;
  display: inline-block;
  text-transform: uppercase;

  &::before, &::after {
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    padding: 0 20px;
    position: relative;
    top: 1px;
    font-weight: 100;
  }

  &:hover, &:active, &:focus {
    color: #fff;
    text-decoration: none;
  }
}

.infos {
  background: #fff;
  padding: 60px 0;
  margin-top: 100px;
  h4 {
    font-size: 17px;
    color: #3a3a3a;
  }

  p {
    font-size: 14px;
    color: #7f8c8d;
  }
}