@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body, {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.highlight {
  color: $jungle-green;
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}