@import "../../styles/variables";

.navbar-mini {
  background-color: $limed-spruce;
  color: #fff;
  border: 0;
  border-radius: 0;
  min-height: $navbar-height;
  height: $navbar-height;
  line-height: $navbar-height;
  margin: 0;
}

.navbar-header.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;

  > div {
    width: 50%;
  }
}

.route-active {
  font-weight: bold;
  text-decoration: underline;
}
