.topbar {
  background: #27ae60;

  .logo {
    margin-top: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;

    > div {
      flex: 1;

      &:last-child {
        text-align: right;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 0;

    li {
      float: left;
      margin: 0 25px;
      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: #fff;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}