$tab-height: 58px;


.tab-wrapper {
  background: #fff;
  max-width: 380px;

  .tabs {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    
    a {
      color: #7f8c8d;
    }
  }

  .tab {
    line-height: $tab-height;
    flex-grow: 1;
    text-align: center;
    background-color: #ebf0f3;

    &.active {
      background-color: #fff;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .tabs-content {
    background-color: #fff;
  }
}

.account-form {
  h3 {
    font-size: 18px;
    color: #717171;
    font-weight: normal;
    margin: 0;
    padding: 30px 10px;
  }

  .input-field {
    border-top: 1px solid #efefef;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;

    label {
      color: #bdc3c7;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: normal;
      width: 100%;
    }

    input {
      color: #7f8c8d;
      font-size: 14px;
      border: 0;
      padding: 3px 0;

      &:focus {
        outline: none;
      }
    }
  }

  .form-actions {
    display: flex;
    flex-wrap: nowrap;
    > * {
      flex-grow: 1;
    }

    button {
      line-height: 70px;
      border: 0;
      border-radius: 0;
      text-align: center;

      &:focus, &:hover {
        outline: none;
        box-shadow: 0 0 20px 10px rgba(#000, .10) inset;
      }
      
      &.primary-btn {
        color: #fff;
        background-color: #38424c;
      }

      &.secondary-btn {
        color: #7f8c8d;
        background-color: #ebf0f3;
      }
    }
  }
}

.flex {
  display: flex;
}

.input-field + .input-field {
  border-left: 1px solid #efefef;
}